<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="result">

</div>

<div>
    <input type="text" id="msg">
    <button type="button" onclick="submit()">提交!</button>
</div>
</body>
<script>
    class Chat {
        constructor(q, a) {
            this.q = q;
            this.a = a;
        }
    }

    const chats = [];

    function submit() {
        let question = document.getElementById("msg").value
        if (question === undefined || question === "") {
            alert("please input question")
        }
        const chat = new Chat();
        chat.q = question;
        chat.a = "";
        const stream = new EventSource("/stream?msg=" + chat.q + "&chats=" + JSON.stringify(chats))
        stream.addEventListener("message", function (e) {
            let parse = JSON.parse(e.data);
            chat.a += parse["text"]
            document.getElementById("result").innerHTML = chat.a
        });
        stream.addEventListener("stop", function (e) {
            stream.close()
            chat.a += "\n"
            chats.push(chat)
            document.getElementById("result").innerHTML = chat.a
            console.log(e)
        });
        stream.onerror = function (event) {
            stream.close()
            console.log(event)
        }
    }

</script>
</html>